<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="BIT.Connection"/>
  <connectionStrings>

    <!--<add name="BIT.Connection" connectionString="Server=45.117.76.27; Database=BITQUICK; Uid=sa; Pwd=abc@123!@#" providerName="System.Data.SqlClient" />-->
    <add name="BIT.Connection" connectionString="Server=209.58.180.27; Database=BITQUICK_new; Uid=sa; Pwd=abc@123!@#" providerName="System.Data.SqlClient" />
    <!--<add name="BIT.Connection" connectionString="Server=.\SQL2012; Database=209.58.180.27; Uid=sa; Pwd=abc@123!@#" providerName="System.Data.SqlClient" />-->

    <!--<add name="BIT.Connection" connectionString="Server=.\SQL2012; Database=BIT_Demo; Uid=sa; Pwd=123456" providerName="System.Data.SqlClient" />-->
  <!--<add name="BIT.Connection" connectionString="Server=82.163.79.89; Database=BIT; Uid=sa; Pwd=abc@123!@#" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <!--<add key="MailFrom" value="sup.bitquick24@gmail.com"/>
    <add key="PassMailFrom" value="abc@123!@#"/>-->
    <add key="MailFrom" value="support@bitquick24.org"/>
    <add key="PassMailFrom" value="abc@123!@#"/>
  </appSettings>

  <!-- URL rewrite bo duoi .aspx khi vao trang -->
  <!--<system.webServer>
    <rewrite>
      <rules>

        --><!--http://  <ANYSTRING STRING or IP>  : ANYPORT /{URI} redirects https:// <ANYSTRING STRING or IP>:1443/{URI}--><!--
        <rule name="HTTP to HTTPS on different SSL Port" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="([^/:]*?):[^/]*?" />
          </conditions>
          <action type="Redirect" url="https://{C:1}:44300/{R:0}" appendQueryString="false" />
        </rule>--><!--


        --><!--<rule name="RewriteASPX">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>--><!--
      </rules>
    </rewrite>
  </system.webServer>-->

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>